
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Roboto, sans-serif;

}

html{
    scroll-behavior: smooth;
}

.article section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header nav{
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.header nav a {
    border: 3px solid black;
    border-radius: 50%;
    display: block;
    margin: 10px;
    height: 50px;
    width: 50px;
}

.header nav a:nth-child(1), article #buttons{
    background-color: rgb(212, 203, 239);
}
.header nav a:nth-child(2), article #forms{
    background-color: rgb(203, 239, 221);
}
.header nav a:nth-child(3), article #tables{
    background-color: rgb(225, 239, 203);
}
.header nav a:nth-child(4), article #tabs {
    background-color: rgb(239, 209, 203);
}

.buttons{
    display: block;
}

pre code {
    background-color: rgb(22, 22, 22);
    color: white;
    border-radius: 10px;
    border: 1px solid #999;
    display: block;
    text-align: left;
}

.form{
    display:  block;
}